
<div class="jumbotron">
    <h2>Simple Todo Api for Testing</h2>
    <p>This is a simple todo API for students or people who are new to programing and wanna try running an api with their Android apps or just play around with it.</p>
</div>

<div class="container">
    <div class="col-md-6">
        <h3>If you find this useful</h3>
        <a href="https://www.github.com/leehaisen01" target="_blank" class=""><i class="fa fa-github"></i> Lee Haisen</a><br />
        <a href="https://www.facebook.com/leehaisen" target="_blank" class=""><i class="fa fa-facebook"></i> Lee Haisen</a> <br />
        <a href="https://www.linkedin.com/in/hassan-taj/" target="_blank" class=""><i class="fa fa-linkedin"></i> Lee Haisen</a><br />

    </div>
</div>