
<div class="jumbotron">
    <h1 class="display-3">Simple Todo Api for Testing</h1>
    <p class="lead">TThis is a simple todo API for students or people who are new to programing and wanna try running an api with their Android apps or just play around with it.</p>
    <hr class="my-4">
    <h4>If you find this useful</h4>
    <br />
    <br />
    <a href="https://www.github.com/leehaisen01" target="_blank" class="btn btn-primary"><i class="fa fa-github"></i></a>
    <a href="https://www.facebook.com/leehaisen01" target="_blank" class="btn btn-info"><i class="fa fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/hassan-taj/" target="_blank" class="btn btn-dark"><i class="fa fa-linkedin"></i></a>
</div>